<div class="container-fluid rounded shadow-sm" style="min-height: 100%; width: 100%; padding-top: 10px; padding-bottom: 10px">

  <div (click)="openAddFilesDialog()" class="rounded upload-btn">Select file...
    <input #FileSelectInput type="file" [hidden]="true" (change)="onFileSelected($event)"/>
  </div>

  <div class="file-container rounded" *ngFor="let selectedFile of selectedFiles; let i = index">
    {{selectedFile.file.name + '.' + selectedFile.file.extension}}
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="{{'width: ' + selectedFile.progress + '%'}}" aria-valuenow="{{selectedFile.progress}}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>

</div>
