div.text {

  height: 10em;
  position: relative;
  font-size: 50px;
  color: #5A5C6C;
  font-weight: bold;


}
div.text p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

a {
 color: lightslategray;
}
