<header>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Cloud File Storage</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" href="#">Features</a>
      <a class="p-2 text-dark" href="#">Enterprise</a>
      <a class="p-2 text-dark" href="#">Support</a>
      <a class="p-2 text-dark" href="#">Pricing</a>
    </nav>
    <div [hidden]="session.isLoggedIn">
      <a class="btn btn-outline-success mr-md-3" routerLink="/signin" routerLinkActive="active">Sign in</a>
      <a class="btn btn-outline-primary" routerLink="/signup" routerLinkActive="active">Sign up</a>
    </div>
    <app-logout></app-logout>
  </div>
</header>

<router-outlet></router-outlet>

