<div [hidden]="!session.isLoggedIn" class="center">
  <a class="btn btn-outline-success btn-new" (click)="startCreate(); modal.openModal(modalDialog);">Добавить новую запись</a>
  <table mat-table [dataSource]="data" class="mat-elevation-z8">


    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>


    <ng-container matColumnDef="developer">
      <th mat-header-cell *matHeaderCellDef> Developer </th>
      <td mat-cell *matCellDef="let element"> {{element.developer}} </td>
    </ng-container>

    <ng-container matColumnDef="family">
      <th mat-header-cell *matHeaderCellDef> Family </th>
      <td mat-cell *matCellDef="let element"> {{element.family}} </td>
    </ng-container>


    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"> <a class="btn btn-outline-primary" (click)="startUpdate(element); modal.openModal(modalDialog)">Обновить</a> </td>
    </ng-container>


    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"> <a class="btn btn-outline-danger" (click)="delete(element.id)">Удалить</a> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>



<ng-template #modalDialog let-modal>
  <div class="modal-header">
    <h5 class="modal-title">{{modalHeader}}</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click');">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="name" class="col-form-label">Name:</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="current.name">
        <label for="developer" class="col-form-label">Developer:</label>
        <input type="text" class="form-control" id="developer" name="developer" [(ngModel)]="current.developer">
        <label for="family" class="col-form-label">Family:</label>
        <input type="text" class="form-control" id="family" name="family" [(ngModel)]="current.family">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click'); ">Закрыть</button>
    <button type="button" class="btn btn-primary" (click)="modal.dismiss('Save'); commmit()">{{modalButtonText}}</button>
  </div>
</ng-template>
