.custom-navigation:hover {
  transition: fill .6s ease;
  cursor: pointer;
  fill: #4682B4;
}

.custom-navigation {
  transition: fill .6s ease;
  fill: black;
}

.disabled-control {
  fill: lightgray;
}

.breadcrumb-link {
  transition: color .6s ease;
  color: #4682B4;
}

.breadcrumb-link:hover {
  transition: color .6s ease;
  cursor: pointer;
  color: black;
}

.breadcrumb-current {
  color: black;
}

.col-12 {
  transition: width .6s ease;
}

.col-8 {
  transition: width .6s ease;
}

.breadcrumb {
  background-color: white;
  border-color: lightgray;
  border-style: solid;
  border-width: 1px;
}

.dropdown-item {
  cursor: pointer;
}

.selected-item {
  fill: #4682B4;
}
