<div class="text-center mx-auto" style="width: 400px;">
  <form class="form-signin" (ngSubmit)="userForm.form.valid && send()" #userForm="ngForm">
    <h1 class="h3 mb-3 font-weight-normal">Регистрация</h1>
    <label for="inputUsername" class="sr-only">Имя пользователя</label>
    <input type="text" name="username" [(ngModel)]="username" id="inputUsername"
           class="mb-2 form-control" placeholder="Имя пользователя" required=""
           autofocus="" #name="ngModel">
    <div [hidden]="name.valid || name.untouched" class="alert alert-danger mb-2">Имя пользователя обязательно</div>
    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" name="mail" [(ngModel)]="email" id="inputEmail"
           class="mb-2 form-control" placeholder="Email" required=""
           autofocus="" #mail="ngModel">
    <div [hidden]="mail.valid || mail.untouched" class="alert alert-danger mb-2">Email обязателен</div>
    <label for="inputPassword" class="sr-only">Пароль</label>
    <input name="pass" type="password" id="inputPassword" class="form-control mb-2"
           placeholder="Пароль" required="" #pass="ngModel" [(ngModel)]="password">
    <div [hidden]="pass.valid || pass.untouched" class="alert alert-danger mb-2">Пароль обязателен</div>
    <button class="btn btn-lg btn-primary btn-block" [disabled]="!userForm.form.valid"
            type="submit">Зарегистрироваться</button>
  </form>
</div>
